// Copy of variable from @angular/material used in components
// These variables are not exported in public api
// Use these only for reference
// DO NOT CHANGE THESE VARIABLES

// Variables

$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

// Toolbar
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;

// Paginator
$mat-paginator-height: 56px;
