$default-size: 24px;
$chip-size: 18px;

.mat-icon svg {
  height: $default-size;
  width: $default-size;
}

button {
  &.mat-menu-item {
    line-height: $default-size !important;
  }
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

.mat-chip {
  .mat-icon svg {
    height: $chip-size;
    width: $chip-size;
  }
}

.mat-toolbar {
  .mat-chip svg {
    vertical-align: super;
  }
}
