@import "angular-material-component-variables";


@mixin container-with-toolbar() {
  $desktop-height: calc(100% - #{$mat-toolbar-height-desktop});
  $mobile-height: calc(100% - #{$mat-toolbar-height-mobile});

  height: $desktop-height;
  max-height: $desktop-height;

  @media ($mat-xsmall) {
    & {
      height: $mobile-height;
      max-height: $mobile-height;
    }
  }
}
