@import '~@angular/material/theming';

@import "ml-theme/ml-transaction-table";
@import "ml-theme/ml-feedback";

@mixin ml-theme($theme) {
  @include ml-feedback-theme($theme);
  @include ml-transactions-table-theme($theme);

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  a.mat-list-item.active {
    background-color: mat-color($primary, 100);

    &:hover,
    &:focus {
      background-color: mat-color($primary, 200);
    }
  }
}
