@import "angular-material-component-variables";


.ml-app {
  &__container {
    height: 100%;
  }
}

.ml-app {

  &__container {
  }

  &__sidebar {
    min-width: 200px;
  }

  &__main-content {
    overflow-y: hidden !important;
  }
}
