<h1 mat-dialog-title *ngIf="!isEditDialog()">Add category</h1>
<h1 mat-dialog-title *ngIf="isEditDialog()">Edit "{{categoryToEdit.name}}" category</h1>

<div class="ml-dialog" mat-dialog-content>
  <form class="ml-dialog__form" [formGroup]="categoryForm">
    <!-- Parent category -->
    <mat-form-field appearance="outline" *ngIf="isChild()">
      <mat-label>Parent Category</mat-label>
      <input matInput formControlName="parentCategory" [matAutocomplete]="categoryAutocomplete" required>
      <mat-error *ngIf="categoryForm.controls.parentCategory.invalid">Select or create parent category</mat-error>
      <!-- TODO: Show button only when new parentCategory is about to be created -->
      <button mat-icon-button matSuffix matTooltip="Create new parent category" *ngIf="showAddParentButton()" (click)="createParent()">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
      <mat-autocomplete #categoryAutocomplete [displayWith]="displayCategoryFn" autoActiveFirstOption>
        <mat-option *ngFor="let category of filteredParentCategories$ | async" [value]="category">{{category.fullName()}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Category name -->
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" autocomplete="off" required>
    </mat-form-field>
  </form>
</div>

<div class="ml-dialog__actions" mat-dialog-actions>
  <button mat-button (click)="cancel()" cdkfocusinitial>Cancel</button>
  <button mat-button (click)="save()" color="primary" [disabled]="categoryForm.invalid">Save</button>
</div>
