@import "styles/mixins";


:host {
  display: block;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  mat-toolbar {
    & > div {
      flex-grow: 1;

      &:last-of-type {
        text-align: right;
      }
    }
  }

  .ml-categories-page {
    @include container-with-toolbar();
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__parent-cat {
      margin: .5rem;
      min-width: 230px;
      height: max-content;

      mat-card-title,
      mat-list-item {
        cursor: pointer;
      }
    }
  }
}
