<mat-toolbar>
  <div>Categories</div>
  <div>
    <button mat-button (click)="createParentCategory()">
      <mat-icon svgIcon="plus"></mat-icon>
      New Category
    </button>
    <button mat-button (click)="createChildCategory()">
      <mat-icon svgIcon="plus"></mat-icon>
      New Sub category
    </button>
  </div>
</mat-toolbar>

<div class="ml-categories-page">
  <mat-card class="ml-categories-page__parent-cat ml-card" *ngFor="let parentCat of categoriesTree$ | async">
    <mat-card-header (dblclick)="editParentCategory(parentCat)">
      <mat-card-title>{{parentCat.name}}</mat-card-title>
      <!-- TODO: Add delete button or select and delete -->
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let childCat of parentCat.childrenCategories" (dblclick)="editChildCategory(childCat, parentCat)">
          {{childCat.name}}
          <!-- TODO: Add delete button or select and delete -->
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
