<!--<mat-toolbar>-->
<!--  <span>My Loot</span>-->
<!--</mat-toolbar>-->

<mat-sidenav-container class="ml-app__container">
  <mat-sidenav class="ml-app__sidebar" mode="side" [opened]="true" [disableClose]="true">
    <!--TODO: Add scroll-->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['payees']" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="store"></mat-icon>
        <span matLine>Payees</span>
      </a>
      <a mat-list-item [routerLink]="['categories']" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="shape"></mat-icon>
        <span matLine>Categories</span>
      </a>
      <a mat-list-item [routerLink]="['reports']" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="finance"></mat-icon>
        <span matLine>Reports</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['transactions/all']" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="bank"></mat-icon>
        <span matLine>All Accounts</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Accounts</h3>
      <a mat-list-item [routerLink]="['transactions/account', account.id]" *ngFor="let account of (accounts$ | async)"
         (dblclick)="updateAccount($event, account)" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="cash"></mat-icon>
        <h3 matLine>{{account.name}}</h3>
        <span matLine>{{account.currentBalance | currency}}</span>
      </a>
    </mat-nav-list>
    <mat-action-list>
      <button mat-list-item (click)="createAccount()">
        <mat-icon matListIcon svgIcon="plus"></mat-icon>
        <span>Add account</span>
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="ml-app__main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
