<mat-toolbar>
  <div class="ml-transactions__selected-actions-menu">
    <button mat-button [matMenuTriggerFor]="selectedActionsMenu"
            [disabled]="!selectedTransaction?.length">
      Selected actions ({{selectedTransaction?.length || 0}})
    </button>

    <!--TODO: Implement import in future-->
    <button mat-icon-button matTooltip="Import transactions" disabled>
      <mat-icon svgIcon="import"></mat-icon>
    </button>

    <mat-menu #selectedActionsMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="accountsListMenu">
        <mat-icon svgIcon="clipboard-arrow-left-outline"></mat-icon>
        <span>Move to account</span>
      </button>
      <button mat-menu-item (click)="onDelete(selectedTransaction)">
        <mat-icon svgIcon="delete-outline"></mat-icon>
        <span>Delete ({{selectedTransaction?.length || 0}})</span>
      </button>
    </mat-menu>

    <button mat-button *ngIf="sumSelectedTransactions() !== null"
            [matMenuTriggerFor]="selectedTransactionSummary">Sum: {{sumSelectedTransactions() | currency}}</button>

    <mat-menu #selectedTransactionSummary>
      <mat-list class="ml-selected-summary-list">
        <mat-list-item *ngIf="selectedOutflowTransactions() as outflowSummary">
          <span>Outflow ({{outflowSummary?.count}}):</span>
          <span class="align-right">{{outflowSummary?.sum | currency}}</span>
        </mat-list-item>
        <mat-list-item *ngIf="selectedInflowTransactions() as inflowSummary">
          <span>Income ({{inflowSummary?.count}}):</span>
          <span class="align-right">{{inflowSummary?.sum | currency}}</span>
        </mat-list-item>
      </mat-list>
    </mat-menu>

    <mat-menu #accountsListMenu="matMenu">
      <button mat-menu-item *ngFor="let account of accountsToMove$ | async" (click)="moveToAccount(account)">
        <mat-icon svgIcon="cash"></mat-icon>
        {{account?.name}}
      </button>
    </mat-menu>
  </div>

  <div class="ml-transactions__search-form">
    <button mat-icon-button [matMenuTriggerFor]="searchDateRange" [matTooltip]="dateRangeTooltip(dateFrom$ | async, dateTo$ | async)">
      <mat-icon [svgIcon]="calendarIcon(dateFrom$ | async,dateTo$ | async)"></mat-icon>
    </button>

    <mat-menu #searchDateRange>
      <button mat-menu-item (click)="dateThisMonthSelected()">
        <mat-icon svgIcon="calendar-today"></mat-icon>
        This month
      </button>
      <button mat-menu-item (click)="dateLastThreeMonthsSelected()">
        <mat-icon svgIcon="calendar-range"></mat-icon>
        Last 3 months
      </button>
      <button mat-menu-item #menuFromPickerTrigger="matMenuTrigger" matTooltip="From" [matMenuTriggerFor]="menuFromPicker">
        <mat-icon svgIcon="calendar-arrow-right"></mat-icon>
        From {{dateFrom$ | async | date}}
      </button>
      <button mat-menu-item #menuToPickerTrigger="matMenuTrigger" matTooltip="To" [matMenuTriggerFor]="menuToPicker">
        <mat-icon svgIcon="calendar-arrow-left"></mat-icon>
        To {{dateTo$ | async | date}}
      </button>
      <button mat-menu-item (click)="clearDateSelection()" [disabled]="!(dateFrom$ | async) && !(dateTo$ | async)">
        <mat-icon svgIcon="calendar-remove"></mat-icon>
        Clear dates
      </button>
    </mat-menu>

    <mat-menu #menuFromPicker yPosition="above">
      <div (click)="$event.stopPropagation()">
        <h4 style="margin: .5rem 1rem 0">From date</h4>
        <mat-calendar #fromPicker [selected]="dateFrom$ | async"
                      (selectedChange)="dateFromSelected($event); menuFromPickerTrigger.closeMenu()"></mat-calendar>
      </div>
    </mat-menu>

    <mat-menu #menuToPicker yPosition="below">
      <div (click)="$event.stopPropagation()">
        <h4 style="margin: .5rem 1rem 0">To date</h4>
        <mat-calendar #toPicker [selected]="dateTo$ | async"
                      (selectedChange)="dateToSelected($event); menuToPickerTrigger.closeMenu()"></mat-calendar>
      </div>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="searchFiltersMenu" [disabled]="(searchFilters$ | async)?.length === 0" matTooltip="Filters">
      <mat-icon svgIcon="filter"></mat-icon>
      <ng-container *ngIf="(searchFilters$ | async)?.length > 0">({{(searchFilters$ | async)?.length}})</ng-container>
    </button>

    <mat-menu #searchFiltersMenu xPosition="before">
      <button mat-menu-item *ngFor="let filter of searchFilters$ | async" (click)="removeFilter(filter)"
              matTooltip="{{filter.key}} {{filter.operator}} {{filter.value | string}}" matTooltipPosition="after">
        <mat-icon svgIcon="eraser"></mat-icon>
        {{filter.key}} {{filter.operator}} {{filter.value | string}}
        <!-- TODO: translate with custom filterTranslate pipe-->
        <!-- TODO: translate filter.key -> all variants... -->
        <!-- TODO: when filter.key === ****.id -> map to <Class> = name & force operator to be ==-->
      </button>
    </mat-menu>

    <form>
      <mat-form-field class="ml-transactions__search-form__search-input">
        <mat-label>Search</mat-label>
        <input #searchInput matInput type="text" [formControl]="searchControl" [matAutocomplete]="searchAutocomplete">
        <mat-autocomplete #searchAutocomplete autoActiveFirstOption (optionSelected)="onSearchOptionSelected($event)">
          <mat-option *ngFor="let option of searchFilteredOptions$ | async" [value]="option"
                      [matTooltip]="option.label" matTooltipPosition="before">
            {{option.label}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="searchControl.value && searchControl.touched && searchControl.dirty">Pick from dropdown</mat-hint>
      </mat-form-field>
    </form>

    <button mat-icon-button matTooltip="Clear search" (click)="removeSearchFilters()" [disabled]="(searchFilters$ | async)?.length === 0">
      <mat-icon svgIcon="eraser"></mat-icon>
    </button>
  </div>
</mat-toolbar>

<ml-transactions-table [transactions]="transactions$ | async" (sortChange)="onSortChanges($event)"
                       (selectionChange)="selectedTransaction = $event" (save)="onSave($event)" (delete)="onDelete($event)">

</ml-transactions-table>

<mat-paginator [length]="total$ | async"
               [pageSizeOptions]="[10, 25, 50, 100]"
               [pageSize]="(query$ | async)?.limit"
               [pageIndex]="(query$ | async)?.page"
               (page)="onPageChanges($event)">
</mat-paginator>
