@import "styles/functions";
@import "styles/angular-material-component-variables";


// TODO: Refactor height to use ml mixins
$paginator-outline-height: 72px;
//$paginator-height: $paginator-outline-height;
$paginator-height: $mat-paginator-height; // use $mat-paginator-height when fixed by material team

$toolbar-with-paginator-desktop: calc(#{$mat-toolbar-height-desktop} + #{$paginator-height});
$toolbar-with-paginator-mobile: calc(#{$mat-toolbar-height-mobile} + #{$paginator-height});

.ml-selected-summary-list {
  padding-top: 0;

  .mat-list-item {
    font-size: 0.875rem;
  }

  .align-right {
    margin-left: auto;
    margin-right: 0;
    padding-left: 1rem;
  }
}

:host {
  display: block;
  height: 100%;
  max-height: 100%;

  .ml-transactions {
    &__toolbar-buttons {
      text-align: center;
    }

    &__search-form {
      //display: contents;
      font-size: .875rem;

      & > * {
        display: inline-block;
      }

      &__search-input {
        width: 250px;
        margin: 6px .5rem 0;
      }
    }
  }

  mat-toolbar {
    & > div {
      flex-grow: 1;

      &:last-of-type {
        text-align: right;
      }
    }
  }

  ml-transactions-table {
    overflow-y: auto;
    height: subtract-height-from-full-height($toolbar-with-paginator-desktop);
    max-height: subtract-height-from-full-height($toolbar-with-paginator-desktop);
    width: 100%;
    @media ($mat-xsmall) {
      & {
        height: subtract-height-from-full-height($toolbar-with-paginator-mobile);
        max-height: subtract-height-from-full-height($toolbar-with-paginator-mobile);
      }
    }
  }

  mat-paginator {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
