@import '~@angular/material/theming';

@mixin ml-feedback-theme($theme) {
  $info-color: mat-color($mat-blue, 600);
  $success-color: mat-color($mat-green, 600);
  $warn-color: mat-color($mat-amber, 600);
  $error-color: mat-color($mat-red, 600);
}
