@import '~@angular/material/theming';

@mixin ml-transactions-table-theme($theme) {
  $accent: map-get($theme, accent);

  .ml-transactions-table {
    tr.mat-row {
      &.missing-field {
        background-color: mat-color($accent, 50);
      }
    }
  }

  .ml-transactions-table {
    &__tooltip {
      background-color: mat-color($accent, 200);
    }

    &__transfer-category-message {
      font-style: italic;
      color: mat-color($mat-gray, 400);
    }
  }
}
