@import "styles/mixins";

:host {
  display: block;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;

  .ml-payees-page {
    @include container-with-toolbar();

    &__payees_card {
      margin: .5rem;
    }

    &__payees_list {
      padding-top: 0;
    }

    &__payee-list-item {
      max-width: 25%;
    }
  }
}
