<mat-toolbar>
  <span>Payees</span>
</mat-toolbar>
<div class="ml-payees-page">
  <mat-card class="ml-payees-page__payees_card">
    <mat-list class="ml-payees-page__payees_list">
      <mat-list-item class="ml-payees-page__payee-list-item" *ngFor="let payee of payees$ | async">
        <h3 mat-line>{{payee.name}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
