// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material/theming' as ng;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include ng.mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-loot-app-primary: ng.mat-palette(ng.$mat-green);
$my-loot-app-accent: ng.mat-palette(ng.$mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-loot-app-warn: ng.mat-palette(ng.$mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-loot-app-light-theme: ng.mat-light-theme($my-loot-app-primary, $my-loot-app-accent, $my-loot-app-warn);
$my-loot-app-dark-theme: ng.mat-dark-theme($my-loot-app-primary, $my-loot-app-accent, $my-loot-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Custom theme
@import "styles/ml-theme";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  @include ng.angular-material-theme($my-loot-app-light-theme);
  @include ml-theme($my-loot-app-light-theme);

  &.dark {
    @include ng.angular-material-theme($my-loot-app-dark-theme);
    @include ml-theme($my-loot-app-dark-theme);
  }
}

@import "styles/mdi-fix";
@import "styles/ml-app";
@import "styles/ml-dialog";
@import "styles/ml-card";
@import "styles/ml-tooltip";
