<h1 mat-dialog-title *ngIf="!isEditDialog()">Add account</h1>
<h1 mat-dialog-title *ngIf="isEditDialog()">Edit "{{accountToEdit.name}}" account</h1>
<div class="ml-dialog" mat-dialog-content>
  <form class="ml-dialog__form" [formGroup]="accountForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" autocomplete="off" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label *ngIf="!accountToEdit">Starting balance</mat-label>
      <mat-label *ngIf="accountToEdit">Adjust balance</mat-label>
      <input matInput formControlName="balance" type="number" autocomplete="off" step="0.01">
    </mat-form-field>
  </form>
</div>
<div class="ml-dialog__actions" mat-dialog-actions>
  <button *ngIf="isEditDialog()" mat-button color="warn" (click)="closeAccount()" tabindex="-1" disabled>Close</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" color="primary" [disabled]="accountForm.invalid">Save</button>
</div>
