:host {
  display: block;

  table[mat-table] {
    width: 100%;

    th.mat-header-cell {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: white;
    }

    td.mat-cell {
      &:first-of-type {
        padding-right: 1rem;
      }

      mat-form-field::ng-deep {
        width: 100%;
        min-width: 85px;

        .mat-form-field-infix {
          width: auto;
        }

        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }
  }

  .ml-transactions-table {
    &__form-actions {
      white-space: nowrap;
    }

    &__add-transaction-button {
      position: fixed;
      bottom: 45px;
      right: 75px;
      z-index: 1;

      //opacity: 0.3;
      //transition: opacity ease .5s;
      //
      //&:hover {
      //  opacity: 1;
      //  transition: opacity ease .5s;
      //}
    }

    &__missing-field-icon {
      vertical-align: middle;
    }
  }
}
