<table mat-table matSort class="ml-transactions-table" [dataSource]="dataSource" (matSortChange)="onSortChanges($event)">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let rowData">
      <mat-checkbox [disabled]="isEditing(rowData)"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(rowData) : null"
                    [checked]="selection.isSelected(rowData)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- TODO: Add checkbox right margin -->

  <!-- Account Column -->
  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Account</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData)">
        <span *ngIf="!!rowData.account">{{rowData.account?.name}}</span>
        <mat-icon *ngIf="!rowData.account" color="accent" svgIcon="information-outline" class="ml-transactions-table__missing-field-icon"
                  matTooltip="Missing account" matTooltipPosition="right" matTooltipClass="ml-transactions-table__tooltip"></mat-icon>
      </ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Account</mat-label>
          <input matInput formControlName="account" [matAutocomplete]="accountAutocomplete">
          <mat-autocomplete #accountAutocomplete [displayWith]="displayAccountFn" autoActiveFirstOption
                            (opened)="formModalOpen = true" (closed)="formModalOpen = false">
            <mat-option *ngFor="let account of accountsFilteredOptions$ | async" [value]="account">{{account.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData)">
        <span *ngIf="!!rowData.date">{{rowData.date | date}}</span>
        <mat-icon *ngIf="!rowData.date" color="accent" svgIcon="information-outline" class="ml-transactions-table__missing-field-icon"
                  matTooltip="Missing date" matTooltipPosition="right" matTooltipClass="ml-transactions-table__tooltip"></mat-icon>
      </ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" (keydown.arrowDown)="formModalOpen || picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker (opened)="formModalOpen = true" (closed)="formModalOpen = false"></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Payee Column -->
  <ng-container matColumnDef="payee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Payee</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData)">
        <span *ngIf="!!rowData.payee">{{rowData.payee | payeeDisplayName}}</span>
        <mat-icon *ngIf="!rowData.payee" color="accent" svgIcon="information-outline" class="ml-transactions-table__missing-field-icon"
                  matTooltip="Missing payee" matTooltipPosition="right" matTooltipClass="ml-transactions-table__tooltip"></mat-icon>
      </ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Payee</mat-label>
          <input matInput formControlName="payee" [matAutocomplete]="payeeAutocomplete">
          <mat-autocomplete #payeeAutocomplete [displayWith]="displayPayeeFnBuilder()" autoActiveFirstOption
                            (opened)="formModalOpen = true" (closed)="formModalOpen = false">
            <mat-option *ngFor="let payee of payeesFilteredOptions$ | async" [value]="payee"
                        [matTooltip]="payee | payeeDisplayName" matTooltipPosition="after">{{payee | payeeDisplayName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData)">
        <span *ngIf="!!rowData.category" [matTooltip]="rowData.category?.fullName()" matTooltipPosition="right">{{rowData.category?.name}}</span>
        <mat-icon *ngIf="!rowData.category && !rowData?.payee?.isAccount" color="accent" svgIcon="information-outline"
                  class="ml-transactions-table__missing-field-icon" matTooltip="Missing category" matTooltipPosition="right"
                  matTooltipClass="ml-transactions-table__tooltip"></mat-icon>
        <span *ngIf="!rowData.category && rowData?.payee?.isAccount"
              class="ml-transactions-table__transfer-category-message">(Category not needed)</span>
      </ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Category</mat-label>
          <input matInput formControlName="category" [matAutocomplete]="categoryAutocomplete">
          <button mat-icon-button matSuffix *ngIf="showAddCategoryButton()"
                  matTooltip="Add new category" (click)="openCategoryDialog(rowData)">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
          <mat-autocomplete #categoryAutocomplete [displayWith]="displayCategoryFn" autoActiveFirstOption
                            (opened)="formModalOpen = true" (closed)="formModalOpen = false">
            <mat-option *ngFor="let category of childrenCategoriesFilteredOptions$ | async"
                        [value]="category" [matTooltip]="category.fullName()" matTooltipPosition="after">
              {{category.fullName()}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint *ngIf="!rowData.category && rowData?.payee?.isAccount || transactionForm?.value?.payee?.isAccount">Category not needed</mat-hint>
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Memo Column -->
  <ng-container matColumnDef="memo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Memo</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData)">{{rowData.memo}}</ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Memo</mat-label>
          <input matInput formControlName="memo" type="text">
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="outflow">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Outflow</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData) && rowData.amount < 0">{{rowData.amount | currency}}</ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Outflow</mat-label>
          <input matInput formControlName="outflow" type="number" step="0.01" (keydown)="transactionForm.controls.inflow.reset()">
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="inflow">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Inflow</th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="!isEditing(rowData) && rowData.amount >= 0">
        <span *ngIf="!!rowData.amount">{{rowData.amount | currency}}</span>
        <mat-icon *ngIf="!rowData.amount" color="accent" svgIcon="information-outline" class="ml-transactions-table__missing-field-icon"
                  matTooltip="Missing inflow or outflow" matTooltipPosition="left" matTooltipClass="ml-transactions-table__tooltip"></mat-icon>
      </ng-container>
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <mat-form-field [appearance]="appearance">
          <mat-label>Inflow</mat-label>
          <input matInput formControlName="inflow" type="number" step="0.01" (keydown)="transactionForm.controls.outflow.reset()">
        </mat-form-field>
      </ng-container>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let rowData">
      <ng-container *ngIf="isEditing(rowData)" [formGroup]="transactionForm">
        <div class="ml-transactions-table__form-actions">
          <button mat-icon-button (click)="saveTransaction()" [disabled]="transactionForm.touched && transactionForm.invalid" matTooltip="Save">
            <mat-icon svgIcon="content-save-outline"></mat-icon>
          </button>
          <button mat-icon-button (click)="cancelEditing()" matTooltip="Cancel">
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <!--TODO: Action column to save or cancel buttons-->

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"
      [class.missing-field]="!isEditing(rowData) && rowData.id && isTransactionIncomplete(rowData)"
      (click)="$event && !isEditing(rowData) ? selection.toggle(rowData) : null"
      [class.ml-transactions-table__row--new-transaction]="!rowData.id"
      (dblclick)="editTransaction(rowData)"></tr>
</table>

<div class="ml-transactions-table__add-transaction-button" *ngIf="!this.editingTransaction">
  <button mat-mini-fab (click)="addTransaction()">
    <mat-icon svgIcon="plus"></mat-icon>
  </button>
</div>
