<h2 mat-dialog-title>{{message}}</h2>

<div *ngIf="description" class="ml-dialog" mat-dialog-content><p>{{description}}</p></div>

<div class="ml-dialog__actions" mat-dialog-actions>
  <button *ngIf="showCancel" mat-button mat-dialog-close="cancel">Cancel</button>
  <button *ngIf="showDisagree" mat-button mat-dialog-close="disagree">Disagree</button>
  <button *ngIf="showAgree" mat-button mat-dialog-close="agree">Agree</button>
  <button *ngIf="showOk" mat-button color="primary" mat-dialog-close="ok">Ok</button>
  <button *ngIf="showYes" mat-button color="primary" mat-dialog-close="yes">Yes</button>
  <button *ngIf="showConfirm" mat-button color="primary" mat-dialog-close="confirm">Confirm</button>
  <button *ngIf="showNo" mat-button color="primary" mat-dialog-close="no">No</button>
</div>
